<!-- favorites index -->
<div class = "center">
  <h1>いいね！一覧</h1>
    <div class="container_fuild">
     <div class = "main">
      <div class="row">
        <div class="col-xs-12">
        <p><%= notice %></p>

　　　　<div class = "summary">
　　　　　　<% @favorites.each do |favorite| %>
　　　　　　  
                <%= favorite.user.name %>
                <%= favorite.voice.content %>
              <%= link_to ' いいね！をやめる', favorite_path(favorite), method: :delete, class: 'btn btn-danger' %>
            <% end %>
　　　　</div>
        </div>
      </div>
    </div>
  </div>
</div>　　　　