<!-- favorites -->

<div class = "center">
  <div class = "main">
     <h1>いいね！しますか？</h1>
     <%= link_to "はい", favorites_path(@), class: 'btn btn-warning'  %>
     <%= link_to "戻る", voices_path, class: 'btn btn-warning'  %>
  </div>
</div>