<div class="container">
<header class="header clearfix">
  <a href="#">
  <%= image_tag 'twitter-3d-front-icon.png',class:"profile_img"%>
  </a>
    <nav>
      <ul class="top_menu clearfix">
        <li><a href="/voices/new">新規投稿</a></li>
        <li><a href="/voices">Voice一覧</a></li>
      </ul>
    </nav>
</header>
</div>

<div class = "center">
<div class = "main">
<h2>tweet</h2>
<%= render 'form' %>
</div>
</div>

<footer class="footer">
  <p>aya ehira　2017/10</p>
</footer>