<div class = "center">
  <h1>voice&tweet</h1>
  <p>叫んでみよう　ぼやいてみよう</p>
    <div class = "main">
      <ul class="row">
        <li class="col-md-offset-2 col-md-10">
        <li><%= render 'form' %></li>
        </li>
      </ul>
    </div>
</div>