<div class = "center">
<h1>ようこそvoice&tweetへ</h1>
<h2>
    ここは日常のさまざまな出来事を<br>
    思いついた時に気軽につぶやける<br>
    そんなアプリです</h2><br>
    <a class="btn-info btn-lg" href="/voices/new" role="button">Let's start!</a>
</div>
