<div class = "center">
 <div class="container">
  <div class="row">
    <div class="col-md-offset-6 col-md-4">
      <div class="card card-container">
        <h1>Editing Contact</h1>
        <p id="profile-name" class="profile-name-card"></p>
          <%= render 'form', contact: @contact %>

            <%= link_to 'Show', @contact %> |
            <%= link_to 'Back', contacts_path %>
      </div>
    </div>
  </div>
 </div>
</div>
