body{
    margin:0;
    padding:0;
    height: 100%;
    font-family: 'Avenir','Corbel','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','Meiryo UI',sans-serif;
    background-image: url("a_l_Fotor.png");

}
.container {
    margin: 0 auto;
    min-height: 100%;
    
}
.header {
    background-color:#F5F5F5;
    position: relative;
    height:80px;
    font-size:1rem;
    width: 100%;
}
.profile_img {
    width:60px;
    float: left;
    margin:10px;
}
.clearfix:after{
    content: "";
    display: block;
    clear: both;
}
ul{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
    margin: 0;
}

ul li a {
    color: #fff;
    text-decoration: none;
    display:block;
    padding: 15px;
    margin-top: 20px;
    margin-right: 20px;
    float: right;
    width: auto;
    
}
ul li a:hover{
    text-decoration: underline;
}
ul li a.select  {
    color: #ff1493;
}
.center {
    text-align:center;
    padding-top: 30px;

}
h1 {
    text-align:center;
    line-height: 20px;
}
p {
    text-align:center;
    font-size: 1px;
    line-height: 10px;
}
.main {
    width: 50%;
    margin: 0 auto;
    max-width: 500px;
    
    vertical-align: middle;
    padding: 0.5em 1em;
    font-weight: bold;
    border: solid 3px #6091d3;/*線*/
    border-radius: 10px;/*角の丸み*/
}
#error_explanation {
   color: red; 
}


.footer {
    background-color: #2d2d2d;
    height: 80px;
    width: 100%;
    position: fixed;
    bottom: 0;
    display: table;
}
.footer p {
    font-size: 1rem;
    color: #fff;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}
.voice_title {
    line-height: 40px;
    font-size: 30px;
    font-family: 'Trebuchet MS';
    margin-top: 20px;
}
.form-label {
    width: 50px;
}
.form-text {

   height :60px;
}
.back {
    line-height: 100px;
}
.summary {
    margin: auto;
    padding: auto;
}